---
import Layout from "../layouts/Layout.astro";
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';
import style from '../styles/global.css'
---

<Layout title="Welcome to Astro.">
	<Showcase/>
	<section class="cards-grid">
         <section class="card-1">
			<Card  title="hi" body="description" href="/"  />

		 </section>
		 <section class="card-2">
			<Card  title="hi" body="description" href="/"  />

		 </section>		
		 <section class="card-3">
			<Card  title="hi" body="description" href="/"  />

		 </section>


	</section>
    <!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
</Layout>

<style>
	.cards-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px 0;
		width: 1000px;
		margin: 0 auto;
		margin-top: -100px;

	}
	.card-1 {
		background: red;
		grid-column: 2;
        
	}
	.card-2 {
		grid-row: 2;
		grid-column: 1;
		background: orange;
	}
	.card-3 {
		grid-row: 3;
		grid-column: 2;

		background: darkcyan;
	}



@media all and (max-width : 1000px){
	.cards-grid {
		width: 100vw;
	}
}


@media all and (max-width : 890px){
	
}
</style>