---
import logo from "../img/etrologo.svg";
---

<header class="header">
  <div class="container">
    <!-- <div class="logo">
      <a href="/">
        <img src={logo} alt="" />
      </a>
    </div> -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
.header {
  position: relative;
  height: 70px;
  top: 0;
  width: 100vw;
  /* background: var(--color-primary) !important; */
  background-color: rgba(0, 139, 139, 0.539) !important;
  /* background: transparent; */
  font-family: 'Roboto', sans-serif;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;

  padding: 0 20px;
}

  .header img {
    height: 50px;
    vertical-align: middle;
  }

  .header nav ul {
    display: flex;
  }

.header nav ul li {
  padding: 0 10px;
  margin: 0 50px ;

}

  .header nav ul li a {
    color: #fff;
  }
</style>
