---
// import spaceVideo from "../vids/space.mp4"
// import backgroudVid from "../vids/production ID_4808275.mp4"
import backgroudVid from "../vids/1080p.mp4"


import logo from '../img/etrologo.svg'
import NavBar from '../components/NavBar.astro';


---
		<NavBar/>
        



<section class="showcase">
    
    
             
      <!-- hero div   (using section instead of div  makes the site highly accessible and makes it easy for screen readers to identify the content) -->
    <section class="hero-section">

        <!-- The big logo on the hero section -->
        <img class="big-logo" src={logo} alt="etro logo" />
        <!-- end of the big logo on the hero section -->
            <!-- text content section  -->
        <section class="text-content">    
            
            <h1>
               <span style="color : red ;">E</span><span style="color : orange;">tr</span><span style="color:darkcyan ;">o</span>
            </h1>
            <p>TypeScript video processing in the browser</p>

        </section>
        <!-- end of text content section -->
     
    </section>

    
    <!-- <section class="scroll-sign">
       <strong>|</strong>
    </section> -->


</section>


        <video src={backgroudVid} muted autoplay loop></video>


<style>
  
    .showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 20px;
    }

    .big-logo {
        
        left: 50px;
        top: 20vh;
        /* box-shadow: 0 4px 30px rgb(138, 0, 110) inset  !important; */
        animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    }

    .text-content {
        display: flex; /*         -------                                                                                                                  */
        flex-direction: column;  /*        |                                                                                                               */
        justify-content: center; /*        ----- center texts and make it closer verticaly with justify content(center) and make its dirsection a column   */
                                /*         |      justify content can only be used if the display is flex                                                  */
                                 /* -------                                                                                                                */ 
    }

    .text-content p {
        color: darkcyan;
        font-weight: bold;
        font-size:  1.5rem; /* rem makes changes the sized based on the specified root size and makes it increase the accessibility of the site */
    }
     

   .text-content h1 {
        font-size: 10rem; /* make the name etro on the showcase big  by multiplying 10 * root size */
    }


<section class="showcase">
  <video src={spaceVideo} muted autoplay loop></video>
</section>

<style>
  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .card {
    width: 300px;
    padding: 0 20px;
    text-align: center;
    background-color: black;
  }
  video {
    height: 100vh;
    width: 100vw;
  }
</style>
   












