---
export interface Props {}
---

<div class="title-card">
  <div class="title-card-content">
    <h1>Etro</h1>
    <h3>TypeScript video processing for the browser</h3>
    <div class="title-card-links">
      <a href="/docs/getting-started">
        <b>Getting Started</b>
      </a>
      <a href="/docs/api">
        <b>API Reference</b>
      </a>
    </div>
  </div>
</div>
<style>
  .title-card {
    display: block;

    width: 75%;
    height: calc(100vh - 70px - (15vh * 2));

    /* Center the card */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh; /* navbar_height/2 == 35px */
    margin-bottom: 15vh;

    padding: 4rem;
    background: #0006;
    text-align: center;
  }

  .title-card-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  h1,
  h3 {
    font-weight: normal;
  }

  h1 {
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.7rem;
    font-size: 6rem;
  }

  h3 {
    margin-top: 0;
    color: #eee;
    font-size: 1.5rem;
  }

  .title-card-links {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }

  .title-card-links a {
    flex: 1;
    font-size: 1rem;
    color: var(--color-secondary);
    text-decoration: none;
    padding: 1rem;
  }

  .title-card-links a:hover {
    text-decoration: underline;
  }

  @media only screen and (min-width: 768px) {
    .title-card {
      /* margin-top: 8em; */
      width: 50%;
    }

    .title-card-links {
      width: 60%;
    }

    .title-card-links a {
      font-size: 1.15rem;
    }
  }
</style>
