<style>
    :root {
        --front-color: #d7fffc;
        /* Primary theme color */
        --primary-color: #00cab9;
        /* Primary theme text color */
        --primary-text-color: #4d4d4d;
        /* Primary theme link color */
        --primary-link-color: #00cab9;
        /* Secondary color: the background body color */
        --secondary-color: #ffffff;
        --secondary-text-color: #a8a8a8;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #00cab9;
    }
</style>
