<style>
    :root {
        --front-color: #d7fffc;
        /* Primary theme color */
        --primary-color: #ffe4ec;
        /* Primary theme text color */
        --primary-text-color: #4f2a35;
        /* Primary theme link color */
        --primary-link-color: #ff0045;
        /* Secondary color: the background body color */
        --secondary-color: #fcf6f7;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #ff0045;
    }
</style>
